<html>
    <head>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../../../bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../../material/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" type="text/css" href="../../../material/css/ripples.min.css">
    <link rel="stylesheet" type="text/css" href="../../../font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../../css/base/header.css">
    <link rel="stylesheet" type="text/css" href="../../../css/amadeus.css">
    </head>

    <body>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-hand-right"></span>Question?</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Option #1
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Option #2
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Option #3
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Option #4
                                </label>
                            </div>
                        </li>                        
                    </ul>
                </div>
                <div class="panel-footer text-center">
                    <button type="button" class="btn btn-primary btn-block btn-sm">
                        Vote</button>
                    <a href="#" class="small">View Result</a></div>
            </div>
        </div>
        
        </div>
    </div>
</div>

</body>
<html>
