{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<h2>Cadastre-se</h2>
 {% if success %}
    <div class="alert alert-success">
        Mensagem enviada com sucesso
    </div>
{% endif %}
<form action=""  method="POST" accept-charset="utf-8">
    {% csrf_token %}
    {{ form.as_p}}
    <input type="submit" name="user_create_form" value="Registrar">
</form>
{% endblock %}

<!-- Form -->
<!--
class UserForm(forms.ModelForm):
    name = forms.CharField(label='Full Name',widget=forms.TextInput(attrs={'class':'form-control'}))
    type = forms.ChoiceField(label='Type', widget = forms.Select(attrs={'class':'form-control'}),
                     choices = ([('teacher','teacher'), ('student','student')]), required = True)
    login = forms.CharField(label='Login',widget=forms.TextInput(attrs={'class':'form-control'}))
    password = forms.CharField(label='Senha',widget=forms.PasswordInput(attrs={'class':'form-control'}))
    email = forms.EmailField(label='Email',widget=forms.EmailInput(attrs={'class':'form-control'}))
    cpf = forms.CharField(label='Cpf',widget=forms.TextInput(attrs={'class':'form-control'}))
    phone = forms.CharField(label='Phone',widget=forms.TextInput(attrs={'class':'form-control'}))
    sex = forms.ChoiceField(widget = forms.Select(attrs={'class':'form-control'}),
                     choices = ([('masculine','masculine'), ('feminine','feminine')]), required = True)
    date = forms.DateField(label='Date of birth', widget=forms.DateInput(attrs={'class':'form-control'}))
    state = forms.CharField(label='State',widget=forms.TextInput(attrs={'class':'form-control'}))
    city = forms.CharField(label='City',widget=forms.TextInput(attrs={'class':'form-control'}))
    image = forms.ImageField(label='Image', widget=forms.ClearableFileInput(attrs={'class':'form-control'}))
    titration = forms.ChoiceField(label='Titration',widget = forms.Select(attrs={'class':'form-control'}),
                     choices = ([('teacher','teacher'), ('student','student')]), required = True)
    year = forms.IntegerField(label='Year',widget=forms.NumberField(attrs={'class':'form-control'}))
    curriculum = forms.CharField(label='Curriculum',widget=forms.Textarea(attrs={'class':'form-control'}))
-->