<!-- Roboto font -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- jQuery & jQuery UI -->
<script type="text/javascript" src="{{assetPath}}/js/vendor/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="{{assetPath}}/js/vendor/jquery-ui.js"></script>

<!-- Bootstrap and themes (material) -->
<link rel="stylesheet" type="text/css" href="{{assetPath}}/css/vendor/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{assetPath}}/css/vendor/material.min.css">
<link rel="stylesheet" type="text/css" href="{{assetPath}}/css/vendor/ripples.min.css">
<link rel="stylesheet" type="text/css" href="{{assetPath}}/css/vendor/datepicker.css">
<script type="text/javascript" src="{{assetPath}}/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="{{assetPath}}/js/vendor/bootstrap-acessibility.min.js"></script>
<script type="text/javascript" src="{{assetPath}}/js/vendor/material.min.js"></script>
<script type="text/javascript" src="{{assetPath}}/js/vendor/ripples.min.js"></script>
<script type="text/javascript" src="{{assetPath}}/js/vendor/bootstrap-datepicker.js"></script>

<!-- Font awesome -->
<link rel="stylesheet" type="text/css" href="{{assetPath}}/css/vendor/font-awesome.min.css">

<!-- Custom styles -->
<link rel="stylesheet" type="text/css" href="{{assetPath}}/css/amadeus.css">

<!-- Init material Bootstrap -->
<script type="text/javascript">$.material.init()</script>