<head>
         
         <link rel="stylesheet" type="text/css" href="forum.css">
         <link rel="stylesheet" type="text/css" href="font-awesome.min.css">
         <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
         <link rel="stylesheet" type="text/css" href="bootstrap-theme.min.css">
    </head>  
<div class="card">
<h4 class="card-title">Professors</h4>
<hr>
<article class="card animated fadeInLeft">
    <a href="https://uxdesign-html-japm94.c9users.io/uxdesign-html/html/screens/users/profile_user.html"><img class="card-img-top img-responsive" width="100px" height="100px" src="https://success.salesforce.com/profilephoto/005/F" align="left" /></a>
      <div class="card-block">
        <b class="card-title"><span class="label label-success">(Online)</span> Sony Ericsson</b><p></p>
          <b class="text-muted">Graduated in I.T. by MIT</b>
            <p class="card-text"> <p>sonyericsson@sony.com</p><br>
      </div>
</article>
</div>
<p></p>
<div class="card">
<h4 class="card-title">Students</h4>
<hr>
<article class="card animated fadeInLeft">
    <a href="https://uxdesign-html-japm94.c9users.io/uxdesign-html/html/screens/users/profile_user.html"><img class="card-img-top img-responsive" width="100px" height="100px" src="https://success.salesforce.com/profilephoto/005/F" align="left" /></a>
      <div class="card-block">
        <b class="card-title"><span class="label label-default">(Offline)</span> Siemens</b><p></p>
          <b class="text-muted">Graduating in I.T. by MIT</b>
            <p class="card-text"> <p>siemens@cellphone.com</p>
      </div>
</article>
</div>