/**
 * General area
 */

/* Measures */
.panel-heading, .breadcrumb {height: 40px !important;}
.navbar.navbar-default {height: 60px !important;}

/* Overrides and Fixes */
ul {list-style-type: none !important;}
h5 {text-align: center !important;}
.datepicker {z-index:1151 !important;}
.panel-primary .panel-body {padding: 0% 0% 0% 0% !important;}

/* Perception elements */
.icon-more-horiz {margin-top: 0px; margin-bottom: 0px; padding-left: 0px;}
.subjectLink div .panel-info:hover {text-decoration: none; box-shadow: 10px 10px 5px #E6E7E8;}



/**
 * Component specific area
 */

/* Navbar */
nav .logo {position: absolute; top: 6px; text-align: center; height: 48px; width: 48px;}
nav .link {transition-duration: 0.5s;}
nav .link:hover {transform:scale(1.1);}
nav .notifications{font-size: 20px;}

/* Modal */
.modal-header {min-height: 60px; border-bottom: 1px solid #E6E7E8 !important; padding-bottom: 15px !important;}
.modal-footer {text-align: right; padding-top: 5px !important; border-top: 1px solid #E6E7E8 !important;}

/* Breadcrumb */
.breadcrumb .no-inactive {display: none !important;}



/**
 * Page specific area
 */

/* Login page */
.row.logo-row{height: 30% !important; padding-top: 5% !important;}
.row.login-form{height: 40% !important; padding-bottom: 5% !important;}
.logo-row .logoLogin{padding-bottom: 1%; width: 15%;}

/* Course pages */
.courseHome{text-align: center;}
.courseHome ul{
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
				margin-left: 2%;
}
.courseHome ul li{
				display:inline;
				text-align: center;
				padding: 16px;
}
.goal{
				margin: 0%;
				margin-top: 10%;
				padding-bottom: 200px;
}

.table-edited{
				margin-top: 5px;
}
.table-edited tr td:first-child{
				color: green;
}
.table-edited tr td{
				border-top: none !important;
}
.end{
				text-align: right;
}

#img {

				display: block;
				margin: auto;
				width: 50%;

}

.ui-datepicker {
				background: white;
				border: 1px solid black;
				color: black;
}

.img-logo{
				margin: 0 auto;
				height: 100%;
}

.list-group-item{
  padding-top: 16px;
  padding-bottom: 0px;
  padding-left: 16px;
  padding-right: 0px;
}