/* Measures and utils */
.panel-heading, .breadcrumb {
    height: 40px !important;
}

.navbar.navbar-default {
    height: 60px !important;
}

.icon-more-horiz{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.subjectLink div .panel-info:hover{
  text-decoration: none;
  box-shadow: 10px 10px 5px #888888;
}

/* Navbar related classes */
.logo {
    position: absolute;
    top: 6px;
    text-align: center;
	height: 48px;
    width: 48px;
}

.datepicker{z-index:1151 !important;}

.link{
	transition-duration: 0.5s;
}

.link:hover{
	transform:scale(1.1);
}

.notifications{
	font-size: 20px;
}

.link{
	transition-duration: 0.5s;
}

.link:hover{
	transform:scale(1.1);
}

.notifications{
	font-size: 20px;
}


/* Breadcrumb */
.breadcrumb .no-inactive {
    display: none !important;
}

/* Login page related classes */
.logoLogin{
    padding-bottom: 1%;
    width: 15%;
}
.courseHome{
    text-align: center;
}
.courseHome ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 2%;
}
.courseHome ul li{
    display:inline;
    text-align: center;
    padding: 16px;
}
.goal{
    margin: 0%;
    margin-top: 10%;
    padding-bottom: 200px;
}
.favorites{
    margin: 0%;
    margin-top: 20%;
    padding-bottom: 200px;
}
.panel-info{
}
.panel-default{
}
.panel-primary .panel-body{
    padding: 0% 0% 0% 0%;
}

.table-edited{
	margin-top: 5px;
}
.table-edited tr td:first-child{
	color: green;
}
.table-edited tr td{
	border-top: none !important;
}
.end{
    text-align: right;
}
h5{
    text-align: center;
}
#img {

    display: block;
    margin: auto;
    width: 50%;

}
ul {
 list-style-type:none
}

.ui-datepicker {
    background: white;
    border: 1px solid black;
    color: black;
}

.img-logo{
	margin: 0 auto;
	height: 100%;
}

.logo-row{
	height: 40%;
}

/* Modal */

.modal-header {
  min-height: 60px;
  border-bottom: 1px solid #e5e5e5 !important;
  padding-bottom: 15px !important;
}

.modal-footer {
  text-align: right;
  padding-top: 5px !important;
  border-top: 1px solid #e5e5e5 !important;
}

.list-group-item{
        padding-top: 16px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 0px;
}