/**
 * General area
 */

/* Measures */
.panel-heading, .breadcrumb {height: 40px !important;}
.navbar.navbar-default {height: 60px !important;}

/* Utils */
.width100 {min-width: 100px !important;}
.width200 {min-width: 200px !important;}
.float-left {float: left !important;}
.float-right {float: right !important;}
.width100p {width: 100% !important;}
.height200 {height: 200px !important;}
.width300 {min-width: 300px !important;}
.pRight5 {padding-right: 5px !important;}
.pLeft5 {padding-left: 5px !important;}
.pRight5p {padding-right: 5% !important;}
.pLeft5p {padding-left: 5% !important;}
.pRight10 {padding-right: 10px !important;}
.pLeft10 {padding-left: 10px !important;}
.pRight10p {padding-right: 10% !important;}
.pLeft10p {padding-left: 10% !important;}

/* Overrides and Fixes */
ul, li {list-style-type: none !important; text-decoration: none !important;}
h5 {text-align: center !important;}
.list-group-item {padding: 16px 0 0 16px !important;}
.panel-primary .panel-body {padding: 0% 0% 0% 0% !important;}
.datepicker {
  z-index:1151 !important; background: #ffffff !important; border: 0 !important; color: #939598 !important; border-radius: 0 !important;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19) !important;
}
.datepicker th, .datepicker td {border-radius: 0 !important;}
.datepicker .active {color: #ffffff !important; background-color: #47B8C0 !important; background-image: none !important;}

/* Perception elements */



/**
 * Component specific area
 */

/* Navbar */
nav .logo {position: absolute; top: 6px; text-align: center; height: 48px; width: 48px;}
nav .link {transition-duration: 0.5s;}
nav .link:hover {transform:scale(1.1);}
nav .notifications{font-size: 20px;}

/* Modal */
.modal-header {min-height: 60px; border-bottom: 1px solid #E6E7E8 !important; padding-bottom: 15px !important;}
.modal-footer {text-align: right; padding-top: 5px !important; border-top: 1px solid #E6E7E8 !important;}

/* Breadcrumb */
.breadcrumb.no-inactive li:first-child {display: none !important;}
.breadcrumb.no-inactive li.active::before {display: none !important;}



/**
 * Page specific area
 */

/* Login page */
.row.logo-row{height: 30% !important; padding-top: 5% !important;}
.row.login-form{height: 40% !important; padding-bottom: 5% !important;}
.row.logo-row .logoLogin{padding-bottom: 1%; width: 15%;}

/* Home_Admin */
.panel.panel-default.courseHome {text-align: center;}
.panel.panel-default.courseHome ul {list-style-type: none; margin: 0; padding: 0; overflow: hidden; margin-left: 2%;}
.panel.panel-default.courseHome ul li {display:inline; text-align: center; padding: 16px;}
.well.goal{margin: 0%; margin-top: 10%; padding-bottom: 200px;}
#img {display: block; margin: auto; width: 50%;}

/* Icon Topic */
#divMoreActions {
    text-align: right;
    height: 39px;
}

#divMoreActions div button{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 4px;
    height: 31px;
}
#headingOne{
    padding-top: 0px;
    padding-bottom: 50px;
}
#titleTopic{
    padding-top: 18px;
}
#titleTopic h4{
    margin-top: 0px;
}
