#count1, #count2, #countTotal{

	background: transparent; 
	border: 0 none;
	width: 12px;
	font-size: 80%;
}

#balon{
margin-bottom: 10px;
background-color: red;
border-radius: 50%;




}
#icons{
	margin-top: 10px;
}
#Titulo{
background-color: rgba(3, 169, 244, 0.42);
	
}
#icons2{
	margin-top: 10px;

}