<div class="panel panel-primary navigation">
    <div class="panel-heading">
        <h3 class="panel-title">Menu</h3>
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="{{screenPath}}/users/profile_user.html">Profile</a></li>
            <li><a href="{{screenPath}}/users/student/home_course_student.html">My Courses</a></li>
            <li><a href="{{screenPath}}/users/student/course_participants_student.html" target="_self">Participants</a></li>
            <li><a href="javascript:void(0)" target="_self">Pending</a></li>
            <li><a href="javascript:void(0)" target="_self">Messages</a></li>
        </ul>
    </div>
</div>