<div class="col-lg-4 col-xs-4 col-sm-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-horizontal">
        <fieldset>
          <legend>Atividade Proposta</legend>
          <div class="container-fluid">
            <div class="form-group">
              <label class="col-md-2 col-xs-2 col-sm-2 control-label">Name:</label>
              <div class="col-md-10">
                <input type="text" id="name" value="Atividade 1" class="form-control">

              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 col-xs-2 col-sm-2 control-label">Describe: </label>
              <div class="col-md-10">
                <input type="text" id="name" value="-----" class="form-control">

              </div>

            </div>
            <div class="form-group">
              <label class="col-md-2 col-xs-2 col-sm-2 control-label">Opening: </label>
              <div class="col-md-10">
                <input type="text" id="name" value="DD/MM/YYYY" class="form-control">

              </div>

            </div>
            <div class="form-group">
              <label class="col-md-2 col-xs-2 col-sm-2 control-label">Ending: </label>
              <div class="col-md-10">
                <input type="text" id="name" value="DD/MM/YYYY" class="form-control">

              </div>
            </div>
           <div class="form-group">
                      <label for="nota" class="col-md-2 control-label">NOTA: </label>
                      <div class="col-md-2">
                        <p id="nota" class="form-control">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="DelExc" class="col-md-4 control-label"> <i class="fa fa-file-archive-o fa-3x" aria-hidden="true">Atividade.doc</i>

                     </div>
                     <div class="form-group">
                      <label class="col-md-6 control-label"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>Teacher waiting corretion

                   </div>

          </div>

        </fieldset>
      </form>

    </div>
  </div>
</div>
