<div class="jumbotron">
<h3>Search Result:</h3> 3 items founds
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#Link" id="bot"> <i class="fa fa-caret-square-o-down" aria-hidden="true" id="down"></i>Links</a>
      </h4>
    </div>
    <div id="Link" class="panel-collapse collapse">
      <div class="panel-body">
     <table>

  <tr>
   <td><i class="fa fa-circle" aria-hidden="true"></i> Links1<td>
  </tr>
  <tr>
     <td><i class="fa fa-circle" aria-hidden="true"></i> Links2<td>
  </tr>
</table>

      </div>
      
    </div>
  </div>
</div>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#File" id="bot1"> <i class="fa fa-caret-square-o-down" aria-hidden="true" id="down1"></i>File</a>
      </h4>
    </div>
    <div id="File" class="panel-collapse collapse">
      <div class="panel-body"></div>
      
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#Forum" id="bot2"> <i class="fa fa-caret-square-o-down" aria-hidden="true" id="down2"></i>Forum</a>
      </h4>
    </div>
    <div id="Forum" class="panel-collapse collapse">
      <div class="panel-body">
     <table>

  <tr>
   <td><i class="fa fa-circle" aria-hidden="true"></i> Link e Processos<td>
  </tr>
 
</table>

      </div>
      
    </div>
  </div>
</div>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
       <a data-toggle="collapse" href="#Exam" id="bot3"> <i class="fa fa-caret-square-o-down" aria-hidden="true" id="down3"></i>Exam</a>
      </h4>
    </div>
    <div id="Exam" class="panel-collapse collapse">
      <div class="panel-body"></div>
      
    </div>
  </div>
</div>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#Poll" id="bot4"> <i class="fa fa-caret-square-o-down" aria-hidden="true" id="down4"></i>Poll</a>
      </h4>
    </div>
    <div id="Poll" class="panel-collapse collapse">
      <div class="panel-body"></div>
      
    </div>
  </div>
</div>
</div>
