<div class="col-md-12 col-xs-12 col-sm-12">
  <div class="panel panel-default">

    <div class="panel-body">

      <form class="form-horizontal" align="left">

        <fieldset>
          <legend>Atividade 1</legend>
          <div class="container">
            <div class="row">
              <div class="col-md-2">
                <input type="text" class="form-control" placeholder="Search Student">
              </div>
            </div>
          </div>





          <div class="panel-group" id="accordion">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Aluno Maria </a> <i class="fa fa-plus-square" aria-hidden="true"></i>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                   <div class="row">
                    <div class="col-md-6">
                     <i class="fa fa-file-archive-o fa-lg" aria-hidden="true">Atividade.doc</i> 

                   </div>
                   <div class="col-md-6">
                    <label> Nota:</label>
                    <input type="number" step=0.01>
                  </div>
                  <div class="form-group" align="right">
                      <div class="col-md-7 col-md-offset-2">
                      
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                 Aluno Joao </a> <i class="fa fa-plus-square" aria-hidden="true"></i>
               </h4>
             </div>
             <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">
               <div class="row">
                <div class="col-md-6">
                 <i class="fa fa-file-archive-o fa-lg" aria-hidden="true">Atividade.doc</i> 

               </div>
               <div class="col-md-6">
                <label> Nota:</label>
                <input type="number" step=0.01>
              </div>
              <div class="form-group" align="right">
                      <div class="col-md-7 col-md-offset-2">
                      
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
            </div>

          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
              Aluno Santos </a> <i class="fa fa-plus-square" aria-hidden="true"></i>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
             <div class="row">
              <div class="col-md-6">
               <i class="fa fa-file-archive-o fa-lg" aria-hidden="true">Atividade.doc</i> 

             </div>
             <div class="col-md-6">
              <label> Nota:</label>
              <input type="number" step=0.01>
            </div>
            <div class="form-group" align="right">
                      <div class="col-md-7 col-md-offset-2">
                      
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
           Aluno Ruam </a> <i class="fa fa-plus-square" aria-hidden="true"></i>
         </h4>
       </div>
       <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">
         <div class="row">
          <div class="col-md-6">
           <i class="fa fa-file-archive-o fa-lg" aria-hidden="true">Atividade.doc</i> 

         </div>
         <div class="col-md-6">
          <label> Nota:</label>
          <input type="number" step=0.01>
        </div>
        <div class="form-group" align="right">
                      <div class="col-md-7 col-md-offset-2">
                      
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
      </div>

    </div>
  </div>
</div>



</fieldset>
</form>
<ul class="pagination pagination-sm">
  <li class="disabled"><a href="javascript:void(0)">«</a></li>
  <li class="active"><a href="javascript:void(0)">1</a></li>
  <li><a href="javascript:void(0)">2</a></li>
  <li><a href="javascript:void(0)">3</a></li>
  <li><a href="javascript:void(0)">4</a></li>
  <li><a href="javascript:void(0)">5</a></li>
  <li><a href="javascript:void(0)">»</a></li>
</ul>

</div>


</div>
</div>
