
<div class="panel panel-info">
    <div class="panel-heading headingOne" role="tab" data-toggle="collapse" data-parent=".accordion" href=".collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <div class="row">
        <div class="col-xs-9 col-md-2 titleTopic">
          <a role="button">
            <h4>Course 1</h4>
          </a>
        </div>
        <div class="col-xs-4 col-md-2 col-md-offset-8 divMoreActions">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm eye" data-toggle="tooltip" data-placement="bottom" title="Visible">
                <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
              </button>

            </div>
            <div class="btn-group">
              <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="moreActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
              </button>
              <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="moreActions">
                <li><a href="{{screenPath}}/users/teacher/course_detail_teacher.html"><i class="fa fa-angle-double-right fa-fw" aria-hidden="true"></i>&nbsp; Access</a></li>
                <li><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal4"><i class="fa fa-files-o fa-fw" aria-hidden="true"></i>&nbsp; Replicate</a></li>
                <li><a href="javascript:void(0)" data-toggle="modal" data-target="#removeCourse"><i class="fa fa-trash fa-fw" aria-hidden="true"></i>&nbsp; Remove</a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="panel-collapse collapse collapseOne" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p><b>Course Name: </b>Computer Science</p>
        <p><b>Duration (in semesters): </b>09</p>
        <p><b>Coordinator: </b>Alan Turing</p>
        <p>
          <b>Description:</b>
          <i>
            "Lorem ipsum dolor sit amet, consecctetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </i>
        </p>
      </div>
    </div>
</div>

<div class="modal" id="removeCourse">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p>Delete your Course?</p>
      </div>
      <div class="modal-footer">

        <a href="{{screenPath}}/users/profile_user.html" target="_self"><button type="button" class="btn btn-primary">Confirm</button></a>

      </div>
    </div>
  </div>
</div>


