
<div class="panel panel-info">
    <div class="panel-heading headingOne">
      <div class="row">
        <div class="col-xs-9 col-md-2 titleTopic">
          <a role="button" href="{{screenPath}}/users/student/course_detail_student.html">
            <h4>Course 1</h4>
          </a>
        </div>
        <div class="col-xs-4 col-md-10 divMoreActions" data-toggle="collapse" data-parent=".accordion" href=".collapseOne" aria-expanded="true" aria-controls="collapseOne">
        </div>
      </div>
    </div>
    <div class="panel-collapse collapse collapseOne" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p><b>Course Name: </b>Computer Science</p>
        <p><b>Duration (in semesters): </b>09</p>
        <p><b>Coordinator: </b>Alan Turing</p>
        <p>
          <b>Description:</b>
          <i>
            "Lorem ipsum dolor sit amet, consecctetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </i>
        </p>
      </div>
    </div>
</div>

