<form class="form-horizontal" id="discursive-question">
  <fieldset">
    <div class="form-group" id="discursiveQuestion">

      <label for="question" class="col-md-2 control-label">Question</label>


      <div class="col-md-10">
        <textarea class="form-control" rows="1" id="question" placeholder="Wording"></textarea>
      </div>


    </div>
    
    <div class="form-group">
      <div class="col-md-10 col-md-offset-2">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="cancel" class="btn btn-default">Cancel</button>
      </div>
    </div>

  </fieldset>
</form>