<form class="form-horizontal">
  <fieldset id="multiple-choice">
    <div class="form-group">

      <label for="question" class="col-md-2 control-label">Question</label>


      <div class="col-md-10">
        <textarea class="form-control" rows="1" id="question" placeholder="Wording"></textarea>
      </div>


    </div>
    
    <div class="form-group">
      <div class="col-md-10 col-md-offset-2">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="cancel" class="btn btn-default">Cancel</button>
      </div>
    </div>

  </fieldset>
</form>

<!-- <script>
  function newAlternative () {
    // Your existing code unmodified...
    var iDiv = document.createElement('div');
    iDiv.id = 'genericAlternative';
    iDiv.className = 'radio';
    // Now create and append to innerDiv
    var iLabel = document.createElement('label');
    var iInput = document.createElement('input');
    iInput.class = 'form-control';
    iInput.value = 'optionN';
    iInput.type = 'radio';
    var iTextArea = document.createElement('textarea');
    iTextArea.class = 'form-control';
    iTextArea.rows = '1';

    iDiv.appendChild(iLabel);
    iLabel.appendChild(iInput);
    iLabel.appendChild(iTextArea);


    document.getElementsById('radios').appendChild(iDiv);
  }

  function showAlternative () {
      document.getElementById('genericAlternative').style.display = "block";
  }
</script>-->