<div class="panel panel-default">
  <div class="panel-body">
   <form class="form-horizontal">
    <fieldset>
      <legend>Enquete Name</legend>
      <div class="form-group">
        <label for="NameIn" class="col-md-2 control-label">Name:</label>
        <div class="col-md-10">
        <input type="text" id="NameIn" class="form-control" value="Activitie Name" disabled="">
        </div>
      </div>
      <div class="form-group">
        <label for="DescIn" class="col-md-2 control-label">Questions:</label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="DescIn" value="you learn about math?" disabled=""></input>
        </div>
      </div>

      <div class="form-group">
        <label for="DateIn" class="col-md-2 control-label" >Ending: </label>
        <div class="col-md-10">
          <input type="text" id="DateIn" class="form-control" value="01/10/2016" disabled="">
        </div>
      </div>
          <div class="form-group">
      <label class="col-md-2 control-label">Alternative</label>

      <div class="col-md-10">
        <div class="radio radio-primary">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            A
          </label>
        </div>
        <div class="radio radio-primary">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            B
          </label>
        </div>
      </div>
    </div>
      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <button type="button" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>


    </div>




  </fieldset>
</form>

</div>
</div>