<div class="panel panel-default">
  <div class="panel-body">
   <form class="form-horizontal">
    <fieldset>
      <legend>Enquete Name</legend>
      <div class="form-group">
        <label for="NameIn" class="col-md-2 control-label">Name:</label>
        <div class="col-md-10">
        <input type="text" id="NameIn" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="DescIn" class="col-md-2 control-label">Questions:</label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="DescIn"></input>
        </div>
      </div>

      <div class="form-group">
        <label for="DateIn" class="col-md-2 control-label" >Ending: </label>
        <div class="col-md-10">
          <input type="text" id="DateIn" class="form-control">
        </div>
      </div>
          <div class="form-group">
      <label class="col-md-2 control-label">Alternative</label>
      </div>
        <div

      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <button type="button" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>


    </div>




  </fieldset>
</form>

</div>
</div>