<div class="panel panel-info">
<div class='panel-heading'>
  <h3 class='panel-title'>New Exam</h3>
</div>

<div class="panel-body">
  
  
  <div class="row form-group">
    <label for="exam_name" class="col-md-2 control-label">Exam name</label>
    <div class="col-md-10">
      <input type="text" name="exam_name" class="form-control" id="exam_name" placeholder='Exam Name'>
    </div>
  </div>
  <div class="row form-group">
    <label for="begin_date" class="col-md-2 control-label">Exam's begin date</label>
    <div class="col-md-10">
      <input type="text" name="begin-date" class="form-control" id="datepicker" placeholder='Begin date'>
    </div>
  </div>
  <div class="row form-group">
    <label for="end_date" class="col-md-2 control-label">Exam's end date</label>
    <div class="col-md-10">
      <input type="text" name="end-date" class="form-control" id="datepicker" placeholder='End Date'>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-10">
      
        <label>
          <input type="checkbox" name="checkbox"><span class="checkbox-material"><span class="check"></span></span> Allow submissions after deadline
        </label>
      
    </div>
  </div>
  <div class="row form-group" id="questions">

  </div>
  <div class="row form-group">
    <label for="question_type" class="col-md-2 control-label">Question Type</label>
    <div class="col-md-10">
      <select id="questionType" class="form-control" name="option_question" onchange="showDiv (this)">
        <option selected disabled>Question Type</option>
        <option value="0">Multiple Choice</option>
        <option value="1">True or False</option>
        <option value="2">Discursive Question</option>
      </select>
    </div>
  </div>
  <!-- multiple choice question -->

  <div id="multiple-choice" style="display:none;">
       
  
    <div class="row form-group">

      <label for="question-name" class="col-md-2 control-label">Question</label>


      <div class="col-md-10">
        <textarea class="form-control" rows="1" id="question-name" placeholder="Wording"></textarea>
      </div>


    </div>
    <div class="row form-group">
      <label for="alternatives" class="col-md-2 control-label">Alternatives</label>
      <div class="col-md-10" id="radios">
        <div class="radio radio-primary form-group">
          <label>
            <input checked type="radio" name="multiple-choice" id="alternative1" value="1">
            <textarea class="form-control" rows="1" placeholder="Write your alternative"></textarea>
          </label>
        </div>
        <div class="radio radio-primary form-group">
          <label>
            <input type="radio" name="multiple-choice" id="alternative2" value="2">
            <textarea class="form-control" rows="1" placeholder="Write your alternative"></textarea>
          </label>
        </div>
      </div>
    </div>
    <!-- new alternative button -->
    <div class="form-group">
      <div class="col-md-12 col-md-offset-2">
      <button type="button" class="btn btn-primary" id="mc-new-alternative">New Alternative</button>
      </div>
    </div>
    <!-- save and cancel buttons -->
    <div class="form-group">
      <div class="col-md-12 col-md-offset-2">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="cancel" class="btn btn-default">Cancel</button>
      </div>
    </div>
  </div>

  <!-- true or false question -->

  <div id="true-or-false" style="display:none;">
       
    <div class="row form-group">

      <label for="question-name" class="col-md-2 control-label">Question</label>


      <div class="col-md-10">
        <textarea class="form-control" rows="1" id="question-name" placeholder="Wording"></textarea>
      </div>


    </div>
    <div class="row form-group">
      <label for="alternative" class="col-md-2 control-label">Alternatives: T/F</label>
      <div class="col-md-10" id="radiosTF">
        <!-- alternative -->
        <div class="radio radio-primary form-group">
            <label>
            <textarea class="form-control" rows="1" placeholder="Write your alternative"></textarea>
          </label>
          <label>
            <input type="radio" name="true-or-false-1" value="T">
          </label>
          <label>
            <input type="radio" name="true-or-false-1" value="F">
          </label>
        </div>
        <!-- alternative -->
        <div class="radio radio-primary form-group">
            <label>
            <textarea class="form-control" rows="1" placeholder="Write your alternative"></textarea>
          </label>
          <label>
            <input type="radio" name="true-or-false-2" value="T">
          </label>
          <label>
            <input type="radio" name="true-or-false-2" value="F">
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12 col-md-offset-2">
      <button type="button" class="btn btn-primary" id="tf-new-alternative">New Alternative</button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12 col-md-offset-2">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="cancel" class="btn btn-default">Cancel</button>
      </div>
    </div>




      </div>

  <!-- discursive question -->

    <div id="discursive-question" style="display:none;">
        
        <div class="row form-group">

          <label for="question-name" class="col-md-2 control-label">Question</label>


          <div class="col-md-10">
            <textarea class="form-control" rows="1" id="question" placeholder="Wording"></textarea>
          </div>


        </div>
    
        <div class="form-group">
          <div class="col-md-10 col-md-offset-2">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="cancel" class="btn btn-default">Cancel</button>
          </div>
        </div>

 

      </div>

  <!-- end of discurisve question -->

  <div class="row form-group">
        <div class="col-md-10 col-md-offset-2">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="cancel" class="btn btn-default">Cancel</button>
      </div>

</div>
</div>



<script type="text/javascript">
$(function() {
  $( "#datepicker" ).datepicker();
});

function showDiv (elem) {
    if (elem.value == 0) {
      document.getElementById('multiple-choice').style.display = "block";
      document.getElementById('true-or-false').style.display = "none";
      
      document.getElementById('discursive-question').style.display = "none";
    } else if (elem.value == 1) {
      document.getElementById('true-or-false').style.display = "block";
      document.getElementById('multiple-choice').style.display = "none";
      
      document.getElementById('discursive-question').style.display = "none";
    } else if (elem.value == 2) {
      
      document.getElementById('multiple-choice').style.display = "none";
      document.getElementById('true-or-false').style.display = "none";
      document.getElementById('discursive-question').style.display = "block";
    }
  }

 </script>

 <script>
  var tfAlternativeValue = 3;

  $('#tf-new-alternative').click(function () {
    var element = '<div class="radio radio-primary form-group">' +
            '<label>' +
            '<textarea class="form-control" rows="1" placeholder="Write your alternative"></textarea>' +
          '</label>' +
          '<label>' +
            '<input type="radio" name="true-or-false-' + tfAlternativeValue +'" value="T">' +
          '</label>' +
          '<label>' +
            '<input type="radio" name="true-or-false-' + tfAlternativeValue +'" value="F">' +
          '</label>' +
        '</div>';
    $('#radiosTF').append(element);
    
    tfAlternativeValue++;
  });
</script>

<script>
  var alternativeValue = 3;

  $('#mc-new-alternative').click(function () {
    var element = '<div class="radio radio-primary form-group">' +
          '<label>' +
            '<input type="radio" name="multiple-choice" id="alternative' + alternativeValue + '" value="' +alternativeValue + '">' +
            '<textarea class="form-control" rows="1" placeholder="Write your alternative"></textarea>' +
          '</label>' +
        '</div>';
    $('#radios').append(element);
    
    alternativeValue++;
  });
</script>