<!DOCTYPE html>
<html>
    <head>
         
         <link rel="stylesheet" type="text/css" href="forum.css">
         <link rel="stylesheet" type="text/css" href="font-awesome.min.css">
         <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    </head>   

<div class="page-header">
  <h1 id="timeline">Forum</h1>                   
  <b>Description: </b><input type="text" name="description"/><br><p></p>
 <b>Opened in: </b><input type="date" name="openeddate">
</div>
<div>
  <img id="logo" src="topo-amadeus.png"><br><p></p>
  <b>Type the question title: </b><input type="text" name=""/><p></p>
  <div class="col-sm-10">                    
    <textarea class="form-control" name="addComment" id="addComment" rows="5"></textarea>
  </div>
        <br><button type="button" class="btn btn-success">Summit</button>
</div>
