<div class="form-group">
  <label class="control-label" for="inputDefault">Theme</label>
  <input value="Python" type="text" class="form-control" id="inputDefault">
</div>
<div class="form-group">
  <label class="control-label" for="inputDefault">Description</label>
  <textarea class="form-control" rows="3" id="textArea">High-Level Language</textarea>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success">Save</button>
  <button type="button" class="btn btn-primary">Cancel</button>
</div>