<div class="panel panel-default">
    <div class="panel-heading headingOne" role="tab">
        <div class="row">
        <div class="col-xs-6 col-md-6">
            <b>Topic 1</b>
        </div>
        <div class="col-xs-5 col-md-5">
            <label>

            </label>
        </div>
        <div class="col-xs-1 col-md-1">

        </div>
        </div>
    </div>

    <div class="panel-body">
    <p>
        <i>
        <input class="form-control" type ="text" placeholder="Lorem ipsum dolor sit amet (...)"/>
        </i>
    </p>
    <div class="row">
        <div class="col-xs-6 col-md-6">
        <h4>Material</h4>
        <ul>
            <li><i class="material-icons">archive</i> <a href="#">Book 1</a></li>
            <li><i class="material-icons">link</i> <a href="">Link 1</a></li>
        </ul>
        </div>
        <div class="col-xs-4 col-md-4">
        <h4>Activities</h4>
        <ul>
            <li><i class="material-icons">description</i> <a href="#">Activity 1</a></li>
            <li></li>
        </ul>
        </div>
        <div class="col-xs-2 col-md-2">

        </div>
    </div>
    </div>

</div>