<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Presentation Subject</h3>
    </div>
    <div class="panel-body">
        <p><b>Professor:</b> <input class="form-control" type="text" placeholder="Dr. Fulano de Tal"/></p>

        <b>Description:</b>
        <i>
            <input class="form-control" type ="text" placeholder="Lorem ipsum dolor sit amet (...)"/>
        </i>
        </p>
        <div class="row">
        <div class="col-xs-* col-md-6">
            <p><b>Begining:</b> <input type="date" /></p>
        </div>
        <div class="col-xs-* col-md-6">
            <p><b>End:</b> <input type="date" /></p>
        </div>
    </div>
</div>