<div class="card  ">
    <div class="card-content">
        <div class="card-body">
            <form class="form-group ">
                <label class="control-label label-static"> E-mail</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">

                <label class=" control-label"> Registration </label>
                <input type="text" class="form-control" id="inputRegistration" placeholder="Registration">

        <div class="col-lg-offset-4 col-lg-4">
            <button class="btn btn-raised btn-primary btn-lg btn-block">Send</button>

        </div>
            </form>
        </div>
    </div>
</div>