<div class="modal fade" id="forumModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Forum</h4>
      </div>
      <div class="modal-body">
        <!--Forum-->
        <!--Main wrapper-->
        <div class="comments-list">
          <div class="section-heading">
              <h1>Python</h1>
              <h4><b>Description:</b>High-level Language</h4>
              <h4><b>Opened in:</b> September 1st</h4>
          </div>
          <!--First row-->
          <div class="row">

              <!--Content column-->
              <div class="col-sm-10 col-xs-12">
                  <h3 class="user-name">Gerson Jefferson</h3>

                  <div class="card-data">
                     <p class="comment-date"><i class="fa fa-clock-o"></i> 05/10/2015</p>
                  </div>

                  <p class="comment-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                      cupidatat non proident.</p>
              </div>
              <!--/.Content column-->
          </div>
          <a class="btn btn-sm" style="float: right;" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapseExample">Reply</a>
          <div class="collapse" id="collapse1">
            <div class="md-form">
                <input type="text" id="form1" class="form-control" placeholder="comment on the cometary"><span class="input-group-btn">
                    <button type="button" class="btn btn-sm">
                      <i class="fa fa-paper-plane"> Send</i>
                    </button>
                  </span>
            </div>
          </div>
        </div>

            <!--/.First row-->

            <!--Second row-->
            <div class="row">

                <!--Content column-->
                <div class="col-sm-10 col-xs-12">
                    <h3 class="user-name">Cherielly</h3>

                    <div class="card-data">
                      <p class="comment-date"><i class="fa fa-clock-o"></i> 08/10/2015</p>
                    </div>

                    <p class="comment-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                        voluptatem quia voluptas sit aspernatur.</p>
                </div>
                <!--/.Content column-->
            </div>
                  <a class="btn btn-sm" style="float: right;" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapseExample">Reply</a>
                  <div class="collapse" id="collapse2">
                    <div class="md-form">
                        <input type="text" id="form1" class="form-control" placeholder="comment on the cometary"><span class="input-group-btn">
                            <button type="button" class="btn btn-sm">
                              <i class="fa fa-paper-plane"> Send</i>
                            </button>
                          </span>
                    </div>
                  </div>


            <!--/.Second row-->

            <!--Third row-->
            <div class="row">


               <!--Content column-->
                <div class="col-sm-10 col-xs-12">
                    <h3 class="user-name">Gemozecleia</h3>

                    <div class="card-data">
                      <p class="comment-date"><i class="fa fa-clock-o"></i> 17/10/2015</>
                    </div>

                    <p class="comment-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
                        qui officia.
                    </p>
                </div>
                <!--/.Content column-->

            </div>
            <a class="btn btn-sm" style="float: right;" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapseExample">Reply</a>
                  <div class="collapse" id="collapse3">
                    <div class="md-form">
                        <input type="text" id="form1" class="form-control" placeholder="comment on the cometary"><span class="input-group-btn">
                            <button type="button" class="btn btn-sm">
                              <i class="fa fa-paper-plane"> Send</i>
                            </button>
                          </span>
                    </div>
                  </div>

            <!--/.Third row-->
            <div class="row">
              <div class="form-group">
              <div class="col-sm-10 col-xs-12">
                <input type="text" id="addon3a" class="form-control" placeholder="Add Comment">

                  <span class="input-group-btn">
                    <button type="button" class="btn btn-fab btn-fab-mini">
                      <i class="material-icons">send</i>
                    </button>
                  </span>
              </div>
            </div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
