<section>

    <!--Main wrapper-->
    <div class="comments-list">
        <div class="section-heading">
            <h1>Comments <span class="tag blue">3</span></h1>
        </div>
        <!--First row-->
        <div class="row">
            <!--Image column-->
            <div class="col-sm-2 col-xs-12">
                <img src="http://mdbootstrap.com/images/avatars/avatar-1.jpg">
            </div>
            <!--/.Image column-->

            <!--Content column-->
            <div class="col-sm-10 col-xs-12">
                <a><h3 class="user-name">John Doe</h3></a>

                <div class="card-data">
                    <ul>
                        <li class="comment-date"><i class="fa fa-clock-o"></i> 05/10/2015</li>
                    </ul>
                </div>

                <p class="comment-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident.</p>
            </div>
            <!--/.Content column-->

        </div>
        <!--/.First row-->

        <!--Second row-->
        <div class="row">
            <!--Image column-->
            <div class="col-sm-2 col-xs-12">
                <img src="http://mdbootstrap.com/images/avatars/avatar-2.jpg">
            </div>
            <!--/.Image column-->

            <!--Content column-->
            <div class="col-sm-10 col-xs-12">
                <a><h3 class="user-name">Marta Tev</h3></a>

                <div class="card-data">
                    <ul>
                        <li class="comment-date"><i class="fa fa-clock-o"></i> 08/10/2015</li>
                    </ul>
                </div>

                <p class="comment-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                    voluptatem quia voluptas sit aspernatur.</p>
            </div>
            <!--/.Content column-->

        </div>
        <!--/.Second row-->

        <!--Third row-->
        <div class="row">
            <!--Image column-->
            <div class="col-sm-2 col-xs-12">
                <img src="http://mdbootstrap.com/images/avatars/img%20(1).jpg">
            </div>
            <!--/.Image column-->

            <!--Content column-->
            <div class="col-sm-10 col-xs-12">
                <a><h3 class="user-name">Anna Maria</h3></a>

                <div class="card-data">
                    <ul>
                        <li class="comment-date"><i class="fa fa-clock-o"></i> 17/10/2015</li>
                    </ul>
                </div>

                <p class="comment-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
                    qui officia.
                </p>
            </div>
            <!--/.Content column-->

        </div>
        <!--/.Third row-->

    </div>
    <!--/.Main wrapper-->

</section>
<!--/Section: Comments list-->