<div class="page-header">
  <h1 id="timeline">Forum</h1>                   
  <b>Description: </b>Learning Python<p>
 <b>Opened in: </b>Sexta-feira, 10 Junho 2016
</div>
<ul class="timeline">
  <li>      
    <div class="timeline-panel">
      <div class="timeline-heading">
        <img id="logo" src="topo-amadeus.png">
          <h4 class="timeline-title">How works a String in pyhon?</h4>
          <p><small class="text-muted"> 11 hours ago via Twitter</small></p>
      </div>
      <div class="timeline-body">
        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
            Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
        </div>
        <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" href="#"></i>&nbsp;&nbsp;&nbsp; <i class="fa fa-comment fa-2x" aria-hidden="true" href="#"></i>
        <hr>
      </div>
    </li>
  <li>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <img id="logo" src="topo-amadeus.png">
        <h4 class="timeline-title">Tell me your doubt</h4>
        <p><small class="text-muted"> 11 hours ago via Twitter</small></p>
      </div>
      <div class="timeline-body">
        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.</p>
      </div>
      <i href="#" class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; <i href="#" class="fa fa-comment fa-2x" aria-hidden="true"></i>
      <hr>
    </div>    
  </li>
  <button type="button" class="btn btn-success">New theme</button>
</ul>

</html>