<div class="form-group">
  <input type="text" readonly="" class="form-control" placeholder="Image...">
  <input type="file" id="inputFile" multiple="">
</div>
<div class="form-group">
  <label class="control-label" for="inputDefault">Name</label>
  <input type="text" class="form-control" id="inputDefault">
</div>
<div class="form-group">
  <label class="control-label" for="inputDefault">Url</label>
  <input type="text" class="form-control" id="inputDefault">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-primary">Cancel</button>
</div>
