<div class="form-group">
  <label class="control-label" for="inputDefault">Name</label>
  <input value="Python" type="text" class="form-control" id="inputDefault">
</div>
<div class="form-group">
  <label class="control-label" for="inputDefault">Url</label>
  <input value="https://www.python.org/" type="text" class="form-control" id="inputDefault">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-primary">Cancel</button>
</div>
