<article class="card animated fadeInLeft">
    <img class="card-img-top img-responsive" src="https://www.python.org/static/opengraph-icon-200x200.png" align="left" />
      <div class="card-block">
        <b class="card-title">Python</b><p></p>
          <b class="text-muted">Guido van Rossum</b>
            <p class="card-text"> <p>Python is a widely used high-level, general-purpose, interpreted, dynamic programming language. Its design philosophy emphasizes code readability, and its syntax allows programmers to express concepts in fewer lines of code than possible in languages such as C++ or Java.</p>
              <a href="https://www.python.org/" class="btn btn-primary">Read more</a>
      </div>
</article>
