<div class="panel panel-default">
  <div class="panel-body">
 <form class="form-horizontal">
                  <fieldset>
                    <legend>Atividade Proposta</legend>
                    <div class="form-group">
                      <label for="NameIn" class="col-md-2 control-label">Name:</label>
                      <div class="col-md-10">
                        <input type="text" id="NameIn" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="DescIn" class="col-md-2 control-label">Describe:</label>
                      <div class="col-md-10">
                        <textarea class="form-control" id="DescIn" rows="2"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="DateIn" class="col-md-2 control-label" >Opening: </label>
                      <div class="col-md-10">
                        <input type="date" id="DateIn" class="form-control" requerid="" >
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="DateIn" class="col-md-2 control-label" >Ending: </label>
                      <div class="col-md-10">
                        <input type="date" id="DateIn" class="form-control" requerid="">
                      </div>
                    </div>
                    <div class="form-group" style="margin-top: 0;"> 
                      <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Visible Material
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-10 col-md-offset-2">
                        <button type="button" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>


                  </fieldset>
                </form>

    </div>
  </div>
