<div class="col-lg-4 col-xs-4 col-sm-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-horizontal">
        <fieldset>
          <legend>Atividade Proposta</legend>
          <div class="container-fluid">
            <div class="form-group">
              <label class="col-md-2 col-xs-2 col-sm-2 control-label">Name:</label><br>Atividade 1
            </div>
            <div class="form-group">
              <label class="col-md-2 col-xs-2 col-sm-2 control-label">Describe: </label><br>Describe activite

            </div>
            <div class="form-group">
              <label class="col-md-2 col-xs-2 col-sm-2 control-label">Opening: </label><br>DD/MM/YYYY

            </div>
            <div class="form-group">
              <label class="col-md-2 col-xs-2 col-sm-2 control-label">Ending: </label><br>DD/MM/YYYY

            </div>

            <div class="form-group">
              <label for="NomeAtividade" class="col-md-2 col-xs-2 col-sm-2 control-label">Name Studant:</label>

              <div class="col-md-10 col-xs-10 col-sm-10">
                <input type="text" required="required" class="form-control" id="NomeAluno" placeholder="Name student">
              </div>
            </div>
            <div class="form-group">
              <input type="file" id="inputFile4" multiple="">
              <div class="input-group">
                <span class="input-group-btn input-group-sm">
                        <button type="button" class="btn btn-fab btn-fab-mini">
                          <i class="material-icons">attach_file</i>
                        </button>
                      </span>
                <input type="text" required="required" readonly="" class="form-control" placeholder="Placeholder w/file chooser...">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-10 col-md-offset-2">
                <button type="button" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>

        </fieldset>
      </form>

    </div>
  </div>
</div>