<div class="well">
    <div class="row">
      <div class="col-md-offset-2 col-md-9">
        <h2 class="resource_inline"><b>Book 1</b></h2>
        <div class="pull-right">
          <button type="button" class="btn btn-default btn-sm eye" data-toggle="tooltip" data-placement="bottom" title="Visible">
            <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-default btn-sm trash" data-toggle="tooltip" data-placement="bottom" title="Remove">
            <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="col-md-offset-2 col-md-8">
          <img src="{{assetPath}}/img/images/pdf.png">
      </div>
    </div>
</div>