<div class="row">
  <div class="col-md-6">
     <div class="btn-group">
      <a href="bootstrap-elements.html" data-target="#" class="btn btn-raised btn-lg btn-default dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i>Course
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="javascript:void(0)">Systems Information</a></li>
        <li><a href="javascript:void(0)">Engeneer Computing</a></li>
       
      </ul>
    </div>
      <div class="btn-group">
      <a href="home_teacher.html" data-target="#" class="btn btn-raised btn-lg btn-default dropdown-toggle" data-toggle="dropdown">
     <i class="fa fa-book fa-2x" aria-hidden="true"></i> Subject
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="javascript:void(0)">Introduction to Programming</a></li>
        <li><a href="javascript:void(0)">DataBase modify</a></li>
     
      </ul>
    </div>
     <div class="btn-group">
      <a href="bootstrap-elements.html" data-target="#" class="btn btn-raised btn-lg btn-default dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i> Topics
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="javascript:void(0)">Topic 2</a></li>
       
     
      </ul>
    </div>

</div>
<!--segunda-->
<div class="col-md-6">
  <div class="form-group">
 
  <div class="input-group">
    <span class="input-group-btn input-group-sm">
        <button class="btn btn-fab">
          <i class="fa fa-user fa-2x" aria-hidden="true" for="1"></i>
        </button>
      </span>
    <input type="text" class="form-control" placeholder="Select a Student">
      
  </div>
</div>

        
      
</div>
</div>
