<div class="panel panel-info">

  <div class="panel-heading headingTwo" role="tab">
    <div class="row">
        <div class="col-xs-9 col-md-10 titleTopic" >
          <a role="button" data-toggle="collapse" data-parent=".accordion" href=".collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <h4>Subject 2</h4>
          </a>
        </div>
        <div class="col-xs-3 col-md-2 divMoreActions">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm eye" data-toggle="tooltip" data-placement="bottom" title="Visible">
              <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
            </button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="moreActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu pull-right" aria-labelledby="moreActions">
              <li><a href="{{screenPath}}/users/teacher/home_subject_teacher.html"><i class="fa fa-files-o fa-fw" aria-hidden="true"></i>&nbsp; Access</a></li>
              <li><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal3"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Replicate</a></li>
              <li><a href="javascript:void(0)" data-toggle="modal" data-target="#removeSubject2"><i class="fa fa-trash fa-fw" aria-hidden="true"></i>&nbsp; Remove</a></li>
            </ul>
          </div>
        </div>
    </div>
  </div>

  <div class="panel-collapse collapse collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
    <div class="panel-body">
      <p><b>Professor:</b> Dr. Fulano de Tal</p>
      <p>
        <b>Description:</b>
        <i>
          "Lorem ipsum dolor sit amet, consecctetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </i>
      </p>
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <p><b>Begining:</b>10/05/2017</p>
        </div>
        <div class="col-xs-6 col-md-6">
          <p><b>End:</b>23/08/2019</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL REMOVE -->
<div class="modal" id="removeSubject2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to remove this subject?</p>
      </div>
      <div class="modal-footer">

        <a href="{{screenPath}}/users/teacher/home_course_teacher.html" target="_self"><button type="button" class="btn btn-primary">Confirm</button></a>

      </div>
    </div>
  </div>
</div>