<div class="well timeLine">
    <div class="row">
        <div class="col-xs-2 col-md-1">
            <img  class="imgTimeLine" src="{{assetPath}}/img/images/95.jpg">
        </div>
        <div class="col-xs-10 col-md-11">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <a href="#"><h4 class="resource_inline">Fulano de Tal</h4></a>
            <p class="resource_inline">adicionou o material <i class="fa fa-book" aria-hidden="true"></i><a href="#">Book 1</a></p>
            <p class="timePost"><i>Há 1 hora</i></p>
        </div>
    </div>
</div>
<div class="well timeLine">
    <div class="row">
        <div class="col-xs-2 col-md-1">
            <img  class="imgTimeLine" src="{{assetPath}}/img/images/team-avatar-1.jpg">
        </div>
        <div class="col-xs-10 col-md-11">
            <i class="fa fa-flag-o" aria-hidden="true"></i>
            <a href="#"><h4 class="resource_inline">Sicrano da Silva</h4></a>
            <p class="resource_inline">comentou na aula <i class="fa fa-comment-o" aria-hidden="true"></i><a href="#">Introdução à Sistemas de Informação</a></p>
            <p class="timePost"><i>Há 2 horas</i></p>
        </div>
    </div>
</div>
<div class="well timeLine">
    <div class="row">
        <div class="col-xs-2 col-md-1">
            <img  class="imgTimeLine" src="{{assetPath}}/img/images/team-avatar-2.jpg">
        </div>
        <div class="col-xs-10 col-md-11">
            <i class="fa fa-flag-o" aria-hidden="true"></i>
            <a href="#"><h4 class="resource_inline">Beltrano Camargo</h4></a>
            <p class="resource_inline">comentou no seu próprio mural <i class="fa fa-comments-o" aria-hidden="true"></i><a href="#">Book 1</a></p>
            <p class="timePost"><i>Há 11 horas</i></p>
        </div>
    </div>
</div>