<div class="well timeLine">
    <div class="row">
        <div class="col-md-12">
        <p><a href="#"><h6><i>Home / Information Systems / Introduction to Programming / Topic 1</i></h6></a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-md-1">
            <img  class="imgTimeLine" src="{{assetPath}}/img/images/95.jpg">
        </div>
        <div class="col-xs-10 col-md-11">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <a href="#"><h4 class="resource_inline"><b>Fulano de Tal</b></h4></a>
            <p class="resource_inline">adicionou o material <i class="fa fa-book" aria-hidden="true"></i><a href="#">Book 1</a> da disciplina <a href="#">Introduction to Programming</a></p>
            <p class="timePost"><i>Há 1 hora</i></p>
        </div>
    </div>
</div>
<div class="well timeLine">
    <div class="row">
        <div class="col-md-12">
        <p><a href="#"><h6><i>Home / Information Systems / Introduction to Programming / Topic 1</i></h6></a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-md-1">
            <img  class="imgTimeLine" src="{{assetPath}}/img/images/95.jpg">
        </div>
        <div class="col-xs-10 col-md-11">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <a href="#"><h4 class="resource_inline"><b>Fulano de Tal</b></h4></a>
            <p class="resource_inline">adicionou o material <i class="fa fa-link" aria-hidden="true"></i><a href="#">Link 1</a> da disciplina <a href="#">Introduction to Programming</a></p>
            <p class="timePost"><i>Há 1 hora</i></p>
        </div>
    </div>
</div>
<div class="well timeLine">
    <div class="row">
        <div class="col-md-12">
        <p><a href="#"><h6><i>Home / Information Systems / Introduction to Programming / Topic 1</i></h6></a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-md-1">
            <img  class="imgTimeLine" src="{{assetPath}}/img/images/95.jpg">
        </div>
        <div class="col-xs-10 col-md-11">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <a href="#"><h4 class="resource_inline"><b>Fulano de Tal</b></h4></a>
            <p class="resource_inline">adicionou o material  <i class="fa fa-file" aria-hidden="true"></i><a href="#">Embeed 1</a> da disciplina <a href="#">Introduction to Programming</a></p>
            <p class="timePost"><i>Há 1 hora</i></p>
        </div>
    </div>
</div>
<div class="well timeLine">
    <div class="row">
        <div class="col-md-12">
        <p><a href="#"><h6><i>Home / Information Systems / Introduction to Information Systems / Topic 2</i></h6></a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-md-1">
            <img  class="imgTimeLine" src="{{assetPath}}/img/images/team-avatar-1.jpg">
        </div>
        <div class="col-xs-10 col-md-11">
            <i class="fa fa-flag-o" aria-hidden="true"></i>
            <a href="#"><h4 class="resource_inline"><b>Sicrano da Silva</b></h4></a>
            <p class="resource_inline">comentou em <i class="fa fa-comment-o" aria-hidden="true"></i><a href="#">Introduction to Information Systems</a> no material <a href="#">Book 1</a></p>
            <p class="timePost"><i>Há 2 horas</i></p>
            <!--ListComents -->
            <div class="list-group">
              <div class="list-group-item">
                <div class="row-picture">
                  <img class="circle" src="{{assetPath}}/img/images/team-avatar-1.jpg" alt="icon">
                </div>
                <div class="row-content">
                  <h4 class="list-group-item-heading">Sicrano da Silva</h4>
                  <div class="least-content">2 horas</div>

                  <p class="list-group-item-text">Quais capítulos devo estudar?</p>
                </div>
              </div>
              <div class="list-group-separator"></div>
              <div class="list-group">
                <div class="list-group-item">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-1 col-md-offset-1">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-fab btn-fab-mini">
                                        <i class="material-icons">send</i>
                                    </button>
                                </span>
                            </div>
                            <div class="col-md-10">
                                <input type="text" id="addon3a" class="form-control" placeholder="Add Comment">
                            </div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
            </div>
            <!-- endListComents -->
        </div>
    </div>
</div>
<div class="well timeLine">
    <div class="row">
        <div class="col-md-12">
        <p><a href="#"><h6><i>Home / Information Systems / Introduction to Information Systems / Topic 2</i></h6></a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-md-1">
            <img  class="imgTimeLine" src="{{assetPath}}/img/images/team-avatar-2.jpg">
        </div>
        <div class="col-xs-10 col-md-11">
            <i class="fa fa-flag-o" aria-hidden="true"></i>
            <a href="#"><h4 class="resource_inline"><b>Beltrano Camargo</b></h4></a>
            <p class="resource_inline">comentou no seu próprio mural <i class="fa fa-comments-o" aria-hidden="true"></i><a href="#">Introduction to Information Systems</a> no material <a href="#">Book 1</a></p>
            <p class="timePost"><i>Há 11 horas</i></p>
            <!--ListComents -->
            <div class="list-group">
              <div class="list-group-item">
                <div class="row-picture">
                  <img class="circle" src="{{assetPath}}/img/images/team-avatar-1.jpg" alt="icon">
                </div>
                <div class="row-content">
                  <h4 class="list-group-item-heading">Sicrano da Silva</h4>
                  <div class="least-content">11 horas</div>

                  <p class="list-group-item-text">Quais capítulos devo estudar?</p>
                </div>
              </div>
              <div class="list-group-separator"></div>
              <div class="list-group-item">
                <div class="row-picture">
                  <img class="circle" src="{{assetPath}}/img/images/team-avatar-2.jpg" alt="icon">
                </div>
                <div class="row-content">
                  <h4 class="list-group-item-heading">Beltrano Camargo</h4>
                  <div class="least-content">11 horas</div>

                  <p class="list-group-item-text">capítulos 5 e 6</p>
                </div>
              </div>
              <div class="list-group-separator"></div>
              <div class="list-group">
                <div class="list-group-item">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-1 col-md-offset-1">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-fab btn-fab-mini">
                                        <i class="material-icons">send</i>
                                    </button>
                                </span>
                            </div>
                            <div class="col-md-10">
                                <input type="text" id="addon3a" class="form-control" placeholder="Add Comment">
                            </div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
            <!-- endListComents -->
        </div>
    </div>
</div>