<div class="panel panel-default topic">

  <div class="panel-heading headingTwo" data-toggle="collapse" data-parent=".accordion" href=".collapseTwo" aria-expanded="true" aria-controls="collapseTwo"  >
    <div class="row">
        <div class="col-xs-9 col-md-6 titleTopic">
          <a role="button">
          Topic 2
          </a>
        </div>
        <div class="col-xs-3 col-md-6 divMoreActions">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Material">
              <i class="fa fa-book fa-2x" aria-hidden="true"></i><span id="balon-3" class="badge notification-count">2</span>
            </button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Comments">
              <i class="fa fa-comments fa-2x" aria-hidden="true"></i><span id="balon-4" class="badge notification-count">5</span>
            </button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm eye" data-toggle="tooltip" data-placement="bottom" title="Visible">
              <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
            </button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="moreActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu pull-right" aria-labelledby="moreActions">
              <li><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal4"><i class="fa fa-files-o fa-fw" aria-hidden="true"></i>&nbsp; Replicate</a></li>
              <li><a href="javascript:void(0)" data-toggle="modal" data-target="#editTopic2"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Edit</a></li>
              <li><a href="javascript:void(0)" data-toggle="modal" data-target="#removeTopic2"><i class="fa fa-trash fa-fw" aria-hidden="true"></i>&nbsp; Remove</a></li>
            </ul>
          </div>
        </div>
    </div>
  </div>

  <div class="panel-collapse collapse collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
    <div class="panel-body">
      <div class="presentation">
        <p>
          <i>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </i>
        </p>
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <div class="resource_inline">
              <h4>Material</h4>
            </div>
            <div class="resource_inline">
              <div class="dropdown">
                <a href="#" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></a>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li><a href="javascript:void(0)" data-toggle="modal" data-target="#createLinksModal">Create a Link</a></li>
                  <li><a href="javascript:void(0)" data-toggle="modal" data-target="#createFileModal">Create a file</a></li>
                </ul>
              </div>
            </div>
            <ul>
                <li><i class="fa fa-book" aria-hidden="true"></i> <a href="#">Book 1</a></li>
                <li><i class="fa fa-link" aria-hidden="true"></i>  <a href="#" data-toggle="modal" data-target="#linksModal">Link 1</a></li>
                <li><i class="fa fa-file-code-o" aria-hidden="true"></i> <a href="#" data-toggle="modal" data-target="#embedModal">EMBED Material</a></li>
            </ul>
          </div>
          <div class="col-xs-4 col-md-4">
            <div class="resource_inline">
              <h4>Activities</h4>
            </div>
            <div class="resource_inline">
              <div class="dropdown">
                <a href="#" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></a>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li>Qualquer coisa</li>
                </ul>
              </div>
            </div>
            <ul>
                <li><i class="fa fa-file-text" aria-hidden="true"></i> <a href="#" data-toggle="modal" data-target="#ActivityModal">Activitie 1</a></li>
            </ul>



          </div>
        </div>
      </div>
      <div class="editation">
        <div class="form-group">
          <label class="control-label" for="focusedInput2">Name Topic</label>
          <input type="text" class="form-control" value="Topic 1">
        </div>
        <div class="form-group">
          <label class="control-label" for="focusedInput2">Description</label>
          <textarea class="form-control" rows="3" id="textArea"></textarea>
        </div>
        <div class="row">
          <div class=" col-xs-6 col-md-4">
            <div class="resource_inline">
              <h4>Material</h4>
            </div>
            <div class="resource_inline">
              <div class="dropdown">
                <a href="#" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></a>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li><a href="javascript:void(0)" data-toggle="modal" data-target="#createLinksModal">Create a Link</a></li>
                  <li><a href="javascript:void(0)" data-toggle="modal" data-target="#createFileModal">Create a file</a></li>
                </ul>
              </div>
            </div>
            <ul>
                <li class="icon_edit_remove"> <a href="#" data-toggle="modal" data-target="#editFileModal"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>  <a href="#" data-toggle="modal" data-target="#removeFileModal"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a></li>
                <li><a href="#">Book 1</a> </li>
                <li class="icon_edit_remove"> <a href="#" data-toggle="modal" data-target="#linksModalEdit"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>  <a href="#" data-toggle="modal" data-target="#removeLink"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a></li>
                <li><a href="#" data-toggle="modal" data-target="#linksModal">Link 1</a></li>
                <li class="icon_edit_remove"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i>  <i class="fa fa-trash fa-lg" aria-hidden="true"></i></li>
                <li><a href="#" data-toggle="modal" data-target="#embedModal">EMBED Material</a></li>
            </ul>
          </div>
          <div class="col-xs-4 col-md-offset-1 col-md-4">
            <div class="resource_inline">
              <h4>Activities</h4>
            </div>
            <div class="resource_inline">
              <div class="dropdown">
                <a href="#" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></a>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li>Qualquer coisa</li>
                </ul>
              </div>
            </div>
            <ul>
              <li class="icon_edit_remove"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i>  <i class="fa fa-trash fa-lg" aria-hidden="true"></i></li>
              <li><a href="#" data-toggle="modal" data-target="#ActivityModal">Activitie 1</a></li>
              <li class="icon_edit_remove"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i>  <i class="fa fa-trash fa-lg" aria-hidden="true"></i></li>

            </ul>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-10">
            <button type="button" class="btn btn-raised btn-default edit_card_end">Cancel</button>
            <button type="submit" class="btn btn-raised btn-primary edit_card_end">Submit</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>


<div class="modal" id="removeTopic2">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <p>Delete your Topic 2?</p>
        </div>
        <div class="modal-footer">

          <a href="{{screenPath}}/users/profile_user.html" target="_self"><button type="button" class="btn btn-primary">Confirm</button></a>

        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="editTopic2">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
          <label class="col-md-2 col-xs-2 col-sm-2 control-label">Module's Name:</label><br>Modulo 1
          </div>
          <div class="form-group">
            <label class="col-md-2 col-xs-2 col-sm-2 control-label">Describe:</label><br>------
          </div>
        </div>
        <div class="modal-footer">

          <a href="profile_user.html" target="_self"><button type="button" class="btn btn-primary">Confirm</button></a>

        </div>
      </div>
    </div>
  </div>