<div class="panel panel-default topic">

  <div class="panel-heading headingTwo" data-toggle="collapse" data-parent=".accordion" href=".collapseTwo" aria-expanded="true" aria-controls="collapseTwo"  >
    <div class="row">
        <div class="col-xs-9 col-md-2 titleTopic">
          <a role="button">
          Topic 2
          </a>
        </div>
        <div class="col-xs-3 col-md-10 divMoreActions">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="">
              <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i><span id="balon-1" class="badge notification-count">1</span>
            </button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Material">
              <i class="fa fa-book fa-2x" aria-hidden="true"></i><span id="balon-3" class="badge notification-count">2</span>
            </button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Comments">
              <i class="fa fa-comments fa-2x" aria-hidden="true"></i><span id="balon-4" class="badge notification-count">5</span>
            </button>
          </div>
        </div>
    </div>
  </div>

  <div class="panel-collapse collapse collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
    <div class="panel-body">
      <div class="presentation">
        <p>
          <i>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </i>
        </p>
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <div class="resource_inline">
              <h4>Material</h4>
            </div>
            <div class="resource_inline">
              <div class="dropdown">
                <a href="#" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></a>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li><a href="javascript:void(0)" data-toggle="modal" data-target="#createLinksModal">Create a Link</a></li>
                  <li><a href="javascript:void(0)" data-toggle="modal" data-target="#createFileModal">Create a file</a></li>
                </ul>
              </div>
            </div>
            <ul>
                <li><i class="fa fa-book" aria-hidden="true"></i> <a href="{{screenPath}}/users/student/material_student.html">Book 1</a></li>
                <li><i class="fa fa-link" aria-hidden="true"></i>  <a href="#" data-toggle="modal" data-target="#linksModal">Link 1</a></li>
                <li><i class="fa fa-file-code-o" aria-hidden="true"></i> <a href="{{screenPath}}/users/student/material_embed_student.html">EMBED Material</a></li>
            </ul>
          </div>
          <div class="col-xs-4 col-md-4">
            <div class="resource_inline">
              <h4>Activities</h4>
            </div>
            <div class="resource_inline">
              <div class="dropdown">
                <a href="#" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></a>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li>Qualquer coisa</li>
                </ul>
              </div>
            </div>
            <ul>
                <li><i class="fa fa-file-text" aria-hidden="true"></i> <a href="#" data-toggle="modal" data-target="#ActivityModal">Activitie 1</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>