<div class="panel panel-info" >
  <div class="panel-heading headingOne" id="titulo" role="tab">
    <div class="row">
        <div class="col-md-8 titleTopic">
          <a role="button" data-toggle="collapse" data-parent=".accordion" href=".collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Topic 2

          </a>
        </div>
        <div class="col-md-4" id="divMoreActions">
     <li class="link"><a href="#" > <span id="balon" class="badge notification-count"><input id="count2" type="text">
     </span><i  id="icons" class="fa fa-commenting fa-2x" aria-hidden="true"></i></a>
    </div>
  </div>
  </div>

  

    </div>
 