<form class="form-horizontal" id="true-or-false">
  <fieldset>
    <div class="form-group" id="trueOrFalse">

      <label for="questionName" class="col-md-2 control-label">Question</label>


      <div class="col-md-10">
        <textarea class="form-control" rows="1" id="questionName" placeholder="Wording"></textarea>
      </div>


    </div>
    <div class="form-group">
      <label for="alternative" class="col-md-2 control-label">Alternatives: T/F</label>
      <div class="col-md-10" id="radios">
        <!-- alternative -->
        <div class="radio radio-primary">
            <label>
            <textarea class="form-control" rows="1" placeholder="Write your alternative"></textarea>
          </label>
          <label>
            <input type="radio" name="alternative1" value="T">
          </label>
          <label>
            <input type="radio" name="alternative1" value="F">
          </label>
        </div>
        <!-- alternative -->
        <div class="radio radio-primary">
            <label>
            <textarea class="form-control" rows="1" placeholder="Write your alternative"></textarea>
          </label>
          <label>
            <input type="radio" name="alternative2" value="T">
          </label>
          <label>
            <input type="radio" name="alternative2" value="F">
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12 col-md-offset-2">
      <button type="button" class="btn btn-primary" id="newAlternative">New Alternative</button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12 col-md-offset-2">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="cancel" class="btn btn-default">Cancel</button>
      </div>
    </div>

  </fieldset>
</form>

<script>
  var alternativeValue = 3;

  $('#newAlternative').click(function () {
    var element = '<div class="radio radio-primary">' +
            '<label>' +
            '<textarea class="form-control" rows="1" placeholder="Write your alternative"></textarea>' +
          '</label>' +
          '<label>' +
            '<input type="radio" name="alternative' + alternativeValue +'" value="T">' +
          '</label>' +
          '<label>' +
            '<input type="radio" name="alternative2" value="F">' +
          '</label>' +
        '</div>';
    $('#radios').append(element);
    
    alternativeValue++;
  });
</script>