<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Professor</h3>
  </div>
  <div class="panel-body">
    
    <div class="list-group">
      <div class="list-group-item">
        <div class="row-picture">
          <img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
        </div>
        <div class="row-content">
          <p class="list-group-item-text"><span class="label label-success">(Online)</span> Robson Josemiro</p>
          <p class="list-group-item-text">sonyericsson@sony.com</p>
        </div>
      </div>
      <div class="list-group-separator"></div>
      <div class="list-group-item">
      <div class="row-picture">
        <img class="circle" src="http://lorempixel.com/56/56/people/6" alt="icon">
      </div>
      <div class="row-content">
          <p class="list-group-item-text"><span class="label label-success">(Online)</span> Robson Josemiro</p>
          <p class="list-group-item-text">sonyericsson@sony.com</p>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Aluno</h3>
  </div>
  <div class="panel-body">
    
    <div class="list-group">
      <div class="list-group-item">
        <div class="row-picture">
          <img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
        </div>
        <div class="row-content">
          <p class="list-group-item-text"><span class="label label-success">(Online)</span> Robson Josemiro</p>
          <p class="list-group-item-text">sonyericsson@sony.com</p>
        </div>
      </div>
      <div class="list-group-separator"></div>
      <div class="list-group-item">
      <div class="row-picture">
        <img class="circle" src="http://lorempixel.com/56/56/people/6" alt="icon">
      </div>
      <div class="row-content">
          <p class="list-group-item-text"><span class="label label-success">(Online)</span> Robson Josemiro</p>
          <p class="list-group-item-text">sonyericsson@sony.com</p>
      </div>
      </div>
    </div>
  </div>
</div>
