<div class="col-md-9">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">View File</h3>
        </div>
        <div class="panel-body">
          Files:

          <div class="btn-group">
            <a href="bootstrap-elements.html" data-target="#" class="btn btn-raised dropdown-toggle" data-toggle="dropdown">
              <i class="material-icons">archive</i> Materials
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Dropdown link</a></li>
              <li><a href="javascript:void(0)">Dropdown link</a></li>
              <li><a href="javascript:void(0)">Dropdown link</a></li>
            </ul>
          </div>


          <div class="btn-group">
            <a href="bootstrap-elements.html" data-target="#" class="btn btn-raised dropdown-toggle" data-toggle="dropdown">
              <i class="material-icons">description</i> Activities
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Dropdown link</a></li>
              <li><a href="javascript:void(0)">Dropdown link</a></li>
              <li><a href="javascript:void(0)">Dropdown link</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>